@use "../global/variable" as g;

.fv{
  background: url('/img/bg-fv.jpg') no-repeat center bottom/cover;
  padding: 200px 140px 60px 140px;
  margin-bottom: 60px;
  position: relative;

  @include g.lg{
    padding: 16% 10% 60px 10%;
  }

  @include g.sm{
    margin-bottom: 24px;
    padding: 115px 16px 32px 40px;
  }
  
  @include g.xs{
    background: url('/img/bg-fv-sp.jpg') no-repeat center right/cover;
    margin-bottom: 24px;
    padding: 100px 16px 32px 16px;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0;
    width: calc(880 / 1440 * 100%);
    height: 140px;
    background-image: url('/img/bg-fv-after.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(50%);

    @include g.xs{
      width:100%;
      height:60px;
      background-position: bottom;
      background-size: cover;
    }
  }

  .section-fv__container{
    max-width: 1440px;
    margin: 0 auto;
  }

  h2{
    color: #fff;
    font-size: 55px;

    @include g.lg{
      font-size:4.3vw;
    }
    

    @include g.sm{
      font-size: 32px;
    }

    &+p{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      margin-top: 16px;

      @include g.lg{
        font-size: 16px;
      }

      @include g.xs{
        margin-top: 8px;
        max-width:280px;
        margin-right:auto;
      }

    }
  }

  .fv_btn__wrapper{
    margin-top: 30px;
    text-align:left;

    .fv__btn{
      background-color: #fff;
      padding: 8px 32px;
      font-weight: 700;
      margin-top: 24px;
      display: inline-block;
      border: #54917A solid 2px;
      border-radius: 50px;
      position: relative;
      border-radius: 50px;
      padding: 8px 32px;
      border: solid 2px #fff;
      background: linear-gradient(81.39deg, #54917A 3.01%, #6EC0DA 99.68%);
      color: #fff;
    }
  }

  .location__label{
    text-align: center;
    margin-top: 60px;

    @include g.xs{
      margin-top: 130px;
    }

    span{
      display: inline-block;
      background-color: #fff;
      padding: 6px 44px;
      font-weight: 700;
      text-align: center;
    }
  }
}
